body {
  background-color: #fde78e;
  color: #5E005E;
}

td {
    border: 3px solid #AB2F52;
    width: 100px;
    height: 100px;
  }
  
td:hover {
    background: #E88554;
    
  }
  
table {
    border: 1px hidden;
  }